---
import LoginForm from "../components/LoginForm.jsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <LoginForm client:load />
    </main>
  </body>
</html>