---
import AuthGuard from "../../../../../components/AuthGuard";
import PartidoForm from "../../../../../components/PartidoForm.jsx";

const { slug, jornadaSlug } = Astro.params;

export const prerender = false;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Nuevo Partido</title>
  </head>
  <body>
    <main>
      <AuthGuard client:load>
        <h1>Registrar partido</h1>
        <PartidoForm torneoSlug={slug} jornadaSlug={jornadaSlug} client:load />
      </AuthGuard>
    </main>
  </body>
</html>
