---
import AuthGuard from "../../../../../components/AuthGuard";
import PartidoManualForm from "../../../../../components/PartidoManualForm.jsx";

const { slug, jornadaSlug } = Astro.params;

export const prerender = false;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Agregar Partido Manual</title>
  </head>
  <body>
    <main>
      <AuthGuard client:load>
        <h1>Agregar Partido Manual</h1>
        <PartidoManualForm torneoSlug={slug} jornadaSlug={jornadaSlug} client:load />
      </AuthGuard>
    </main>
  </body>
</html>
